<!DOCTYPE html>
<html>
<head>
  <title>StudyGroup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "partials/header" %>
    <div class="container">
    <div class="row flash_messages">
      <% {:error => "danger", :alert => "warning", :notice => "success"}.each do |k,v| %>
        <%= content_tag(:div, flash[k], class:"alert alert-#{v}") if flash[k]%>
      <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
